
 #food-link-1{
    position:absolute;
    top:880px;
    left:330px;
    width:400px;
    height:20px;

}



.food-aside-3{
    position:absolute;
    top:770px;
    left:40px;
}
.food-number-3{
    position:relative;
    top:770px;
    left:220px;
    font-size:medium;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:hotpink;
   border:rgb(1, 199, 123);
   border-top-style: dashed;
   border-left-style: double;
   border-bottom-style:dotted;
   border-right-style: solid;
   height:90px;
   width:970px;
   padding:10px;
   margin:2px;

}
iframe{
    position:absolute;
       width:350px;
       height:200px;
       top:350px;
       left:100px;
   }
    #footer1{
       position:fixed;
       bottom:0;
       text-align:center;
       color:mintcream;
   
   }
   .aside2{
       position:absolute;
       top:470px;
       left:40px;
   }
   .header1{
   color:rgb(255, 233, 37);
   font-weight: bold;
   text-align:center;
   }  
   #p1{
   position:absolute;
   top:350px;
   left:500px;
   height:40px;
   width:150px;
   padding:0;
   }
   #semantic2{
        position:absolute;
        top:200px;
   }
   
   
    body	{
           overflow:scroll;
           }
   h1.boodleFight, h4, h2.foodfacts, h3#kakanin, #spook, .Bibingka, div > h1, div > p, h1, ul, div > img, .adobongmanacc{
   position:absolute !important;
           }
   
       
      
   h1.boodleFight{
       top:350px;
       left:500px;
       right:500px;
       position:absolute;
       color:orangered;
       border:5px solid rgb(1, 199, 123);
       text-align:center;
       width:500px;
   
   }
   h4{
       top:420px;
       left:560px;
       right:500px;
       position:absolute;
       color:mediumturquoise;
       border-style:groove;
       border-color:hotpink;
       text-align:center;
       box-sizing: content-box;
       width:400px;
   }
           
   #section1{  
       position:absolute;                       
       top:100px;
       left:800px;
       font-size:medium;
       color:mediumturquoise;
       width:700px;
       display:block;
   
   } 
   .foodfact1{
       border: 3px dotted rgb(255, 0, 128);
       font-family: Arial, Helvetica, sans-serif;
       font-size:90%;
   }
   
   .dish1{
   position:absolute;
   top:420px;
   width:420px;
   color:mediumturquoise;
   left:220px;
   }
   
   h2.foodfacts{
   left:1080px;
   top:20px;
   position:absolute;
   color:orangered;
   border-color:mediumturquoise;
   border-style:dotted;
   padding:5px;
   width:120px;
   
   }
   h3#kakanin{
   position:absolute;
   top:710px;
   left:330px;
   color:orangered;
   width:400px;
   }
   
   #spook{
   top:620px;
   right:240px;
   position:absolute;
   font-size:medium;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:hotpink;
   border:rgb(1, 199, 123);
   border-top-style: dashed;
   border-left-style: double;
   border-bottom-style:dotted;
   border-right-style: solid;
   height:80px;
   width:970px;
   padding:10px;
   margin:2px;
   }
   .Bibingka{
       left:1140px;
       position:absolute;
       top:620px;
       
   }
   h3#goTopage2{
   top:580px;
   left:330px;
   color:orangered;
   width:400px;
   position:relative;
   

   
   
   }
   h3 > a{
       text-decoration: none;
       text-decoration: olivedrab;
   
   }
   img{
       clear:left;
       position:relative;
   }
   div > h1{
       color:orangered;
       position:absolute;
       top:30px;
       left: 200px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       border-color:mediumturquoise;
       border-style:inset;
       padding: 10px;
       width:160px;
       text-align:center;
   }
   em{
       color:orangered;
       font-weight:bold;
   }
   div > p{
       display:block;
       font-size: medium;
       font-family:Georgia, 'Times New Roman', Times, serif;
       color:mediumturquoise;
       left:110px;
       position:absolute;
       top: 150px;
       border-style:dotted;
       box-sizing: content-box;
       width:500px;
       height:110px;
       border: 10px 20px 10px 20px;
       padding: 20px;
       border-color:hotpink;
   }
   h1 {
       color:hotpink;
       position:absolute;
       top:50px;
       left: 400px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       border-color:mediumturquoise;
       border-style:outset;
       padding: 10px;
   }
   body {
       background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg);
       background-repeat:no-repeat;
       background-size: 3000px;
       position:relative;
   } 
   ul#navigation {
       list-style-type:none;
       margin: 0;
       padding: 0;
       position:fixed;
       top:10px;
       left: 400px;
       bottom:500px;
       height:60px;
       width:700px;
   
   
   }
   li {
        float: left;
   }
   li a {
        display: block;
       padding: 8px;
       color:rgb(0, 255, 234);
       background-color: #f39f02;
       text-decoration:dashed;
   }
   div>img{
   left:50px;
   position:absolute;
   top:470px;
   float:right;
   }
   .adobongmanacc{
       top:470px;
       font-size: medium;
       color:hotpink;
       position:absolute;
       left:220px;
       right:40px;
       z-index:1;
       border:rgb(1, 199, 123);
       border-top-style: dashed;
       border-left-style: double;
       border-bottom-style:dotted;
       border-right-style: solid;
       padding:10px;
       margin:2px;
       outline:yellow;
       height:100px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       width:1200px;
   
   }
