#facebook a:hover {
    background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png')  -24px -21px ;
    background-size: 320px 320px;
    border:2px solid yellow;
  }
  
  #youtube a:hover {
    background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') -24px -121px;
    background-size: 320px 320px;
    border:2px solid yellow;

    
  }
  
  #twitter a:hover {
    background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') -118px -21px;
    background-size: 320px 320px;
    border:2px solid yellow;
    
  }
  #instagram a:hover {
    background:url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') -212px -121px;
    background-size: 320px 320px;
    border:2px solid yellow;
  }
#navlist {
    position: absolute;
    
  }
  
  #navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;

    
  }
  
  #navlist li, #navlist a {
    height: 83px;
    display: block;
    top:1200px;
    
  }
  
  #facebook {
      left: 0px;
      background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') no-repeat -24px -21px;
      background-size: 320px 320px;
      width: 83px;
      height: 81px;
      bottom:0;

      
    }
    
    #twitter {
      left: 73px;
     background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') no-repeat -118px -21px;
      background-size: 320px 320px;
      width: 84px;
      height: 81px;
      bottom:0;
    }
    
    #youtube {
      left: 150px;
      background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') no-repeat -24px -121px;
      background-size: 320px 320px;
      width: 83px;
      height: 81px;
      bottom:0;
      
    }
    #instagram {
        left:225px;
       background: url('https://i.pinimg.com/originals/f1/a3/c0/f1a3c03479f4437eb83d26eb1f13ae71.png') no-repeat -212px -121px;
      background-size: 320px 320px;
      width: 83px;
      height: 81px;
      bottom:0;
    }




article{
    border: 3px dotted rgb(145, 255, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:80%;
}
.food-review-header-1{
    color:rgb(255, 233, 37);
font-weight: bold;
text-align:center;
position:relative;
}  

#food-review-header{
    position:relative;

    

}
body{
    overflow:scroll;
}
#food-reviews{
    padding:10px;
    border: 3px dashed rgb(255, 51, 0);
    color:rgb(12, 232, 34);
    font-family: 'Times New Roman', Times, serif;
    top:600px;
    left:850px;
    width:600px;
    height:650px;
    position:absolute;


}
.food-review-source{
    color:deepskyblue;
    position:absolute;
    top:1350px;
    left:850px;
}

.food-review-2{
width:600px;
}
.gluttons{

        width:600px;
    }
    
    h2{
        color:hotpink !important;
    }
    div#procedure{
        top:600px;
        right:700px;
        position:absolute;
        color: mediumspringgreen;
        padding:5px;
        border: solid 2px rgb(12, 217, 145);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .step1{
        border:2px dashed orangered;
    }
    .step2{
        border:2px dotted olive;
    }
    .step3{
        border:2px groove mediumturquoise;
    }
    .step4{
        border:2px outset hotpink;
    }
    .step5{
        border:3px double seagreen;
    }
    .step6{
        border:3px ridge gold;
        

    }
    #1st, #2nd, #3rd, #4th, #5th, #6th{
       color:blue;
    }

    
    .electroCute{ 
    top:400px;
    right:120px;
    position:absolute;
    color:olive;

    }
    body>h2{
        position:absolute;
        top:500px;
        left:300px;
        font-family: fantasy;
        color:hotpink;

    }
    tr{
        border-collapse:collapse;
    }
    td{
        border:2px ridge mediumturquoise;
        outline:3px;
        padding:2px;
    }
    em{
        color:orangered;
    }
    div > img{
    top:200px;
    position:absolute;
    }
    div>p#Pinoy{
        top:250px;
        color:hotpink;
        position:absolute;
        font-size:medium;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width:400px;
        left:300px;
        padding:12px;
        margin:3px;
        border-style:double;
        

    }
th{
border:3px double mediumturquoise;
color:hotpink;

}
table{
    width:500px;
    color:yellow;
    border:dashed;
    right: 60px;
    position:absolute;
    top:20px;

}
h1{
left:400px;
padding:12px;
color:orangered;
position:absolute;
border:2px dashed mediumturquoise;
top:100px;
}
body{
        background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg);
        background-repeat:no-repeat;
        background-size:2700px;}


        li {
 float: left;
}
ul#navigation>li a {
 display: block;
padding: 8px;
color:rgb(0, 255, 234);
background-color: #f39f02;
text-decoration:none;
}
ul#navigation {
list-style-type:none;
margin: 0;
padding: 0;
position:fixed;
top:10px;
left:400px;
bottom:500px;
height:60px;
width:700px;}
